<tr class="<%= if is_new then 'success' end %>">
  <td><%= link_to study_material.course.abbreviation, course_path(study_material.course) %></td>
  <td><%= study_material.exam ? "#{study_material.exam.year}-#{study_material.exam.semester}-#{study_material.exam.p}" : "-"%></td>
  <td><%= study_material.title %></td>
  <td><%= study_material.content_url %></td>
  <td><textarea class="form-control">[<%= study_material.title %>](<%= study_material.content.url %>)</textarea></td>
  <td><%= study_material.updated_at %></td>
  <td><%= link_to i_delete, course_study_material_path(study_material.course, study_material), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
</tr>