<h1>Listing Study Materials</h1>


<table class="table">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Prova</th>
      <th>Título</th>
      <th>URL</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @study_materials.each do |study_material| %>
      <tr>
        <td><%= link_to study_material.course.name_with_abbreviation, course_path(study_material.course) %></td>
        <td><%= if study_material.exam then link_to study_material.exam.summary, exam_path(study_material.exam) end%></td>
        <td><%= study_material.title %></td>
        <td><%= study_material.content_url %></td>
        <td><%= link_to i_edit, edit_study_material_path(study_material), class: "btn btn-xs btn-success" %></td>
        <td><%= link_to i_delete, study_material, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to i_add, new_study_material_path, class: 'btn btn-primary' %>
