<h1>Study Materials</h1>

<div class="panel panel-primary panel-upload">
  <div class="panel-heading">Upload</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <%= form_for StudyMaterial.new do |f| %>
          <%= f.file_field :content, multiple: true, name: 'study_material[content]' %>
        <% end %>
      </div>
      <div class="col-md-9">
        <div class="upload-explanation alert alert-info">
          <p>
            Todo arquivo deve estar precedido do código de sua <%= link_to 'disciplina', courses_path %> (<%= link_to 'que já deve existir', new_course_path %>) e um traço.
            Exemplo: "MAT1200-Lista 1.pdf".
          </p>
          <p>
            Arquivos de provas devem obedecer o formato <code>CODIGO-ANO-PERIODO-PX-INFO</code>.
            Por exemplo: "INF1007-2008-1-P4-enunciado.pdf".
            <code>INFO</code> pode qualquer coisa, mas nomes comuns são "Enunciado", "Gabarito", "Turma A-Enunciado", "Tudo".
          </p>
          <p>
            Arquivos que não são de provas (listas, resumos, etc) podem ser enviados com qualquer nome, desde que obedeçam a regra da disciplina.
            Para fazer uso de um arquivo desse no plano de estudo, use o código fornecido na coluna <strong>Markdown</strong>.
          </p>
          <p>
            É possível selecionar vários arquivos de uma vez, ou até mesmo arrastar e soltar (drag and drop).
          </p>
        </div>

      </div>
    </div>
  </div>
  <ul class="list-group"></ul>
</div>

<br>

<table class="table table-hover table-bordered" id="study_materials_table">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Prova</th>
      <th>Título</th>
      <th>URL</th>
      <th>Markdown</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @study_materials.each do |study_material| %>
      <%= render partial: 'table_row', locals: {study_material: study_material, is_new: false} %>
    <% end %>
  </tbody>
</table>

<script id="template-upload" type="text/x-tmpl">
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-3">
        {%=o.name%}
      </div>
      <div class="col-md-9">
        <div class="progress progress-striped active">
          <div class="progress-bar active" role="progressbar" style="width: 0%"></div>
        </div>
      </div>
    </div>
  </li>
</script>

<script>
  var validAbbreviations = <%= (Course.all.map &:abbreviation).to_s.html_safe %>;

  $(function(){
    $('#new_study_material').fileupload({
      dataType: "script",
      add: function(e, data){

        if(!/^[A-Z]{3}\d{4}\-/.test(data.files[0].name)){
          alert("Nome do arquivo precisa começar com o código da disciplina e um traço. Exemplo: \"MAT1200-Lista 1.pdf\"");
          return false;
        }

        var abbreviation = data.files[0].name.split('-')[0];
        if(validAbbreviations.indexOf(abbreviation) == -1){
          alert("Essa disciplina não existe: " + abbreviation);
          return false;
        }

        data.context = $(tmpl("template-upload", data.files[0]));
        $('.panel-upload .list-group').append(data.context);
        data.submit()
      },
      progress: function(e, data){
        if(data.context){
          progress = parseInt(data.loaded/data.total * 100, 10);
          data.context.find('.progress-bar').css('width', progress + '%');
        }
      },
      done: function(e, data){
        if(data.context){
          data.context.find('.progress').removeClass('progress-striped active');
          data.context.find('.progress-bar').addClass('progress-bar-success');
        }
      }
    });
  })
</script>