<div class="panel panel-primary chat <%= can?(:manage, course) ? 'admin' : '' %>" id="chat">
  <div class="panel-heading">Chat de <%= course.abbreviation %></div>
  <ul class="list-group chat-messages">
    <% if recent_messages.empty? %>
      <li class="list-group-item no-messages-placeholder">Não há mensagens ainda. Seja o primeiro!</li>
    <% end %>
    <% recent_messages.reverse_each do |message| %>
      <li class="list-group-item timestamp chat-item" data-toggle="tooltip" data-placement="left" title="tt" data-timestamp="<%= message.timestamp %>" data-id="<%= message.id %>">
        <strong class="chat-name"><%= message.user.name %></strong>: <span class="chat-msg"><%= message.text %></span> <i class="glyphicon glyphicon-remove-circle hide chat-remove pull-right text-danger" data-id="<%= message.id %>"></i>
      </li>
    <% end %>
  </ul>
  <div class="panel-footer">
    <% if current_user %>
    <form class="chat-form">
      <div class="input-group">
        <input type="text" class="form-control chat-msg-input" maxlength="512">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-success chat-send" value="»"/>
        </span>
      </div>
    </form>
    <% else %>
      Faça <a href="/auth/facebook" id="sing_in">login com Facebook <i class="fa fa-facebook-square"></i></a> para participar do chat!
    <% end %>
  </div>
</div>

<% content_for :bottom do %>
  <script type="text/x-tmpl" id="msg_tmpl">
    <li class="list-group-item timestamp chat-item" data-toggle="tooltip" data-placement="left" title="tt" data-timestamp="{%= o.timestamp %}" data-id="{%= o.id %}">
      <strong class="chat-name">{%= o.name %}</strong>: <span class="chat-msg">{%= o.msg %}</span> <i class="glyphicon glyphicon-remove-circle hide chat-remove pull-right text-danger" data-id="{%= o.id %}"></i>
    </li>
  </script>

  <script>
    <% if current_user %>
      var isAdmin = <%= can?(:manage, course) %>;
      var oauth_token = '<%= j current_user.oauth_token %>';
    <% end %>
    var element = $('.chat');
    var url = 'https://pqp-chat.herokuapp.com';
    var course = '<%= j course.abbreviation %>';

    var chat = new Chat(element, url, course, tmpl('msg_tmpl'))

  </script>
<% end %>