<%= bootstrap_form_for(@course) do |f| %>
  <%= render partial: 'layouts/validation_errors', locals: {errors: @course.errors} %>



  <div class="row">

    <div class="col-md-3">
      <%= f.text_field :abbreviation %>
      <%= f.text_field :name %>
      <%= f.number_field :credits %>
      <%= f.collection_select :teacher_id, User.editors.order(:name), :id, :name, prompt: true %>

      <% Major.all.each do |major| %>
        <%= hidden_field_tag "course[major_ids][]", nil %>
        <div>
          <label>
            <%= check_box_tag "course[major_ids][]", major.id, @course.majors.include?(major) %>
            <%= major.name %>
          </label>
        </div>
      <% end %>

      <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
      <% unless @course.new_record? %>
        <% if can? :delete, @course then %><%= link_to i_delete, @course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %><% end %>
      <% end %>
    </div>

    <div class="col-md-9">
      <%= f.text_area :study_plan, cols: 10, rows: 20, id: 'sp-input' %>
    </div>

  </div>

<% end %>

<% content_for :bottom do %>
  <script>
    $("#sp-input").markdown({
      iconlibrary: 'fa',
      onPreview: function(){
        setTimeout(function(){
          $('.md-preview table').addClass('table table-striped table-bordered table-hover');
        }, 1);
      },
      additionalButtons: [
        [{
          name: "groupMisc",
          data: [{
            name: "cmdTable",
            title: "Table",
            icon: "fa fa-table",
            callback: function(e){
              e.setContent(e.getContent() + '\n\n' +
                "| Left align | Center align | Right align |\n"+
                "|-----------|:------------:|------------:|\n"+
                "| This       |        This |     This     \n"+
                "| column     |      column |    column    \n"+
                "| will       |        will |     will     \n"+
                "| be         |          be |      be      \n"+
                "| left       |       center |    right    \n"+
                "| aligned    |     aligned |   aligned\n");
            }
          }]
        }]
      ]
    })
  </script>
<% end %>