<div class="row">
  <% @courses.each do |course| %>
    <div class="col-md-3 div-course">
      <div class="thumbnail">
        <div class="course-box <%= course.department_abbreviation %>">
          <div class="summary">
            <h2><%= course.abbreviation %></h2>
            <h3><%= course.name %></h3>
          </div>

          <%= link_to div_link('Material'), course, class: 'btn btn-default' %>
          <% if can? :edit, course %>
            <%= link_to i_edit, edit_course_path(course), class: 'btn btn-success div-link-other' %>
            <%= link_to fa('files-o') + " Files", course_study_materials_path(course), class: 'btn btn-info div-link-other' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if can? :create, Course %>
    <div class="col-md-3 div-course">
      <div class="thumbnail">
        <div class="course-box">
          <div class="summary">
            <h2>&nbsp;</h2>
          </div>

          <%= link_to div_link(i_add), new_course_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

  <% end %>

</div>
