<h1>
  <%= @course.abbreviation %> - <%= @course.name %>
  <%= if can? :edit, @course then link_to fa('pencil') + ' Edit', edit_course_path(@course), class: "btn btn-success btn-sm" end %>
</h1>

<h2>Provas</h2>

Existem <%= pluralize(@course.exams.length, 'prova') %>.

<h2>Plano de Estudos</h2>

<%= markdown @course.study_plan %>

