<h1>Listing Exams</h1>

<table class="table">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Ano</th>
      <th>Período</th>
      <th>P</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= link_to exam.course.name_with_abbreviation, course_path(exam.course) %></td>
        <td><%= exam.year %></td>
        <td><%= exam.semester %></td>
        <td><%= exam.p %></td>
        <td><%= link_to i_edit, edit_exam_path(exam), class: 'btn btn-success btn-xs' %></td>
        <td><%= link_to i_delete, exam, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to i_add, new_exam_path, class: 'btn btn-primary' %>
