<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PUC Que Pariu</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="controller-<%= controller_name %> action-<%= action_name %>">

<div id="fb-root"></div>

<div class="wrapper" id="wrapper">

  <!-- navbar -->
  <div class="navbar navbar-default navbar-static-top" role="navigation" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="https://s3-sa-east-1.amazonaws.com/pucquepariu/assets/logo.png" alt="PUC Que Pariu!" class="logo" title="PUC Que Pariu!"/>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= active_page(controller: :static, action: :index) %>"><a href="/">Home</a></li>
          <li class="<%= active_page(controller: :courses) %>"><a href="/disciplinas">Disciplinas</a></li>
          <% if can? :manage, User %><li class="<%= active_page(controller: :users) %>"><a href="/users">Usuários</a></li> <% end %>
          <% if can? :manage, StudyMaterial %><li class="<%= active_page(controller: :study_materials) %>"><a href="/study_materials">Material de Estudo</a></li> <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li>
              <strong class="navbar-text">
                <%= current_user.name %>
                <% if current_user.is_admin? %>
                  <%= fa 'star' %>
                <% end %>
              </strong>
            </li>
            <li><%= link_to "Logout", signout_path, id: "sign_out" %></li>
          <% else %>
            <li><a href="/auth/facebook" id="sing_in">Login com Facebook <i class="fa fa-facebook-square"></i></a></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <!--/navbar -->

  <!-- main -->
  <div class="container" id="content">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
    <div class="push"></div>
  </div>
  <!--/main -->

  <!-- footer
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="span3">oi</div>
        <div class="span9">cara</div>
      </div>
    </div>
  </div>
  <!--/footer -->

</div>

</body>
</html>
