<!DOCTYPE html>
<html>
<head>
  <title>PUC Que Pariu</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Provas antigas e exercícios de matérias da PUC-Rio!" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" value="summary">

  <!-- Open Graph data -->
  <meta name="og:image" content="https://pucquepariu.s3.amazonaws.com/assets/logo-square.png" />
  <meta name="og:title" content="PUC Que Pariu!" />
  <meta name="og:description" content="Provas antigas e exercícios de matérias da PUC-Rio!" />
  <meta property="fb:admins" content="132448213609309" />

  <!-- Mobile icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="https://pucquepariu.s3.amazonaws.com/assets/logo-57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="https://pucquepariu.s3.amazonaws.com/assets/logo-72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="https://pucquepariu.s3.amazonaws.com/assets/logo-114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="https://pucquepariu.s3.amazonaws.com/assets/logo-144.png" />

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "public", media: "all" %>
  <% if current_user && current_user.role_above?(:basic) %>
    <%= stylesheet_link_tag "admin", media: "all" %>
  <% end %>
  <%= yield(:head) %>
</head>
<body class="controller-<%= controller_name %> action-<%= action_name %>">

<div id="fb-root"></div>

<div class="wrapper" id="wrapper">

  <!-- navbar -->
  <div class="navbar navbar-default navbar-static-top" role="navigation" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="https://pucquepariu.s3.amazonaws.com/assets/logo.png" alt="PUC Que Pariu!" class="logo" title="PUC Que Pariu!"/>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= active_page(controller: :static, action: :index) %>"><a href="/">Home</a></li>
          <li class="<%= active_page(controller: :courses) %>"><a href="/disciplinas">Disciplinas</a></li>
          <% if can? :manage, User %><li class="<%= active_page(controller: :users) %>"><a href="/users">Usuários</a></li> <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li>
              <strong class="navbar-text">
                <span id="current_user_name"><%= current_user.name %></span>
                <% if current_user.role?(:admin) %>
                  <%= fa 'star' %>
                <% elsif current_user.role?(:teacher) %>
                  <%= fa 'pencil' %>
                <% end %>
              </strong>
            </li>
            <li><%= link_to "Logout", signout_path, id: "sign_out" %></li>
          <% else %>
            <li><a href="/auth/facebook" id="sing_in">Login com Facebook <i class="fa fa-facebook-square"></i></a></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <!--/navbar -->

  <!-- main -->
  <div class="container" id="content">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
    <div class="push"></div>
  </div>
  <!--/main -->

  <!-- footer
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="span3">oi</div>
        <div class="span9">cara</div>
      </div>
    </div>
  </div>
  <!--/footer -->

</div>

<%= javascript_include_tag "public" %>
<% if current_user && current_user.role_above?(:basic) %>
  <%= javascript_include_tag "admin" %>
<% end %>
<%= yield(:bottom) %>
</body>
</html>
